body {
  background-color: black;
}
.calculator {
  background-color: black;
  color: white;
  height: 650px;
  width: 500px;
  border: 5px;
  border-color: darkred;
  border-style: solid;
  border-radius: 30px;
}
.container-form-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control {
  width: auto;
  height: 60px;
  margin: 15px;
  border-color: darkred;
  border-style: solid;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 50px;
  padding-right: 25px;
  resize: none;
}
.sectionNumbers {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.number {
  background-color: black;
  height: 75px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 3px;
  border-color: darkred;
  border-color: darkred;
  border-style: solid;
  border-radius: 30px;
  font-size: 50px;
}
.number0 {
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 75px;
  width: 50%;
  display: flex;
  margin: 15px;
  border-color: darkred;
  border-style: solid;
  border-radius: 30px;
  font-size: 50px;
}

.tabler-icons,
.operation {
  width: 40px;
  height: 40px;
}
.multiply {
  width: 25px;
  height: 25px;
}

/* Phone CSS*/

@media only screen and (max-width: 400px) {
  .calculator {
    background-color: black;
    color: white;
    height: 500px;
    width: 300px;
    border: 5px;
    border-color: darkred;
    border-style: solid;
    border-radius: 30px;
  }
  .form-control {
    font-size: 30px;
    height: 40px;
  }
  .number {
    height: 45px;
    width: 20%;
    font-size: 25px;
  }
  .number0 {
    height: 50px;
    width: 60%;
    font-size: 30px;
  }
  .tabler-icons,
  .operation {
    width: 25px;
    height: 25px;
  }
  .multiply {
    width: 20px;
    height: 20px;
  }
}
